.card 
  .card-header
    .fa.fa-book
    = curriculum.title
  .card-body
    = curriculum.description
  .card-footer
    .far.fa-clock
    = curriculum.created_at.strftime("%d-%b-%Y")
    .row
    .fas.fa-chalkboard-teacher
    = curriculum.user
  .card-footer
    = link_to 'Show', curriculum, class: 'btn btn-primary'
    = link_to 'Edit', edit_curriculum_path(curriculum), class: 'btn btn-warning'
    = link_to 'Destroy', curriculum, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'